*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    text-align: center;
    padding: 33px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
}

/* #colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
} */

ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

button{
    padding: 10px;
    border-radius: 20px;
    border-color: blueviolet;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: bold;
    color: blueviolet;

}
